<% layout('/layouts/default.html', {title: '文档管理', libs: ['dataGrid']}){ %>
<div class="main-content">
    <div class="box box-main" style="background-color: #cecece">
        <div class="box-header">
            <div class="box-title">
                <i class="fa icon-notebook"></i> ${text('文档列表')}
            </div>
            <div class="box-tools pull-right">
                <!--				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>-->

                <a href="${ctx}/doc/upload" class="btn btn-default" title="${text('新增calresult')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
            </div>
        </div>
        <div class="box-body">
            <#form:form id="searchForm" model="${doc}" action="${ctx}/doc/listData" method="post" class="form-inline hide"
            data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
            </#form:form>
            <table id="dataGrid"></table>
            <div id="dataGridPage" style="background-color: #cecece"></div>
        </div>
</div>
</div>
<% } %>
<script>
    // 初始化DataGrid对象
    $('#dataGrid').dataGrid({
        searchForm: $("#searchForm"),
        columnModel: [
            {header:'${text("标题")}', name:'title', index:'a.title', width:150, align:"center", formatter: function(val, obj, row, act){
                    return '<a href="${ctx}/doc/form?id='+row.id+'" class="btnList" data-title="${text("查看文档")}">'+ val +'</a>';
            }},
            // {header:'${text("结束时间")}', name:'finishTime', index:'a.finishTime', width:150, align:"center"},
            // {header:'${text("操作类型")}', name:'operateType', index:'a.operateType', width:150, align:"left"},
            // {header:'${text("操作用户")}', name:'operateUserID', index:'a.operateUserID', width:150, align:"left"},
            // {header:'${text("操作结果")}', name:'result', index:'a.result', width:150, align:"left"},
            // {header:'${text("context")}', name:'context', index:'a.context', width:150, align:"left"}
            {header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false,align:"center", formatter: function(val, obj, row, act){
                    var actions = [];
                    actions.push('<a href="${ctx}/doc/form?id='+row.id+'" class="btnList" title="${text("编辑数据")}"><i class="fa fa-pencil"></i></a>&nbsp;');
                    actions.push('<a href="${ctx}/doc/delete?id='+row.id+'" class="btnList" title="${text("删除数据")}" data-confirm="${text("确认要删除该数据吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
                    return actions.join('');
                }
            }
        ],
        // 加载成功后执行事件
        ajaxSuccess: function(data){

        }
    });
</script>
