<% layout('/layouts/default.html', {title: '文档上传', libs: ['validate','fileupload','dataGrid']}){ %>
<body style="background-color: #cecece">
<div style=" background-color:#9e9e9e;margin:-20px;">
    <p style="color:#000000;font-size: 36px;padding-left:200px;padding-top: 80px;padding-bottom: 30px">文档上传</p>
    <p style="color:#000000;font-size: 24px;width: 900px;padding-bottom: 50px;padding-left:200px">
        平台文档上传
    </p>
</div>
<div  >
    <br>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-upload"></i><b> 文档上传</b></h3>
</div>
<!--信息表单-->
<div class="no-border" style="padding-top:50px;padding-bottom: 100px">
    <#form:form id="docUpload" model="${doc}" action="uploadmethod" method="post" class="form-horizontal" >
    <div class="row-fluid">
        <div class="span4 offset2">
            <div class="form-group">
                <label class="control-label col-sm-2" title="">
                    <span class="required hide">*</span> ${text('标题')}：<i class="fa icon-question hide"></i></label>
                <div class="col-sm-6">
                    <#form:textarea path="title" id="userName" rows="1" maxlength="500" class="form-control"/>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row-fluid">
        <div class="span4 offset2">
            <div class="form-group">
                <label class="control-label col-sm-2" title="">
                    <span class="required hide">*</span> ${text('内容')}：<i class="fa icon-question hide"></i></label>
                <div class="col-sm-6">
                    <#form:textarea path="context" id="userId" rows="5" maxlength="10000" class="form-control"/>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!--document start-->
    <div class="row-fluid">
        <div class="span4 offset2">
            <div class="form-group">
                <label class="control-label col-sm-2"><b>${text('文档')}：</b></label>
                <div class="col-sm-6">
                    <#form:fileupload id="uploadDoc" bizKey="${doc.id}" bizType="doc_file"
                    uploadType="all" class="" readonly="false" preview="weboffice" maxUploadNum="10"/>
                </div>
            </div>
        </div>
    </div>
    <!--document end-->
    <br>

    <div class="row-fluid">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-sm btn-primary" id="btnSubmit" style="font-size:20px;width: 100px;height: 40px">
                <i class="fa fa-check"></i> ${text('提交')}
            </button>&nbsp;
        </div>
    </div>
</#form:form>
</div>
</body>
<footer class="main-footer m0" style="background-color:#000000;height: 200px;color:#FFFFFF;margin-top:-10px;">
    <div class="pull-right hidden-xs">当前版本： ${@Global.getConfig('productVersion')}</div>
    &copy; ${@DateUtils.getYear()} ${@Global.getConfig('productName')} - Powered By <a href="http://jeesite.com">JeeSite</a>
</footer>
<% } %>
<script>
    function CheckInfo(){
        const img = $("#uploadDoc").val();
        if(!img){
            alert("图片不能为空");
            return false;
        }
        return true;
    }
</script>
<script>
    $("#docUpload").validate({
        submitHandler: function(form){
            js.ajaxSubmitForm($(form), function(data){
                js.showMessage(data.message);
                if(data.result == Global.TRUE){
                    js.closeCurrentTabPage(function(contentWindow){
                        contentWindow.page();
                    });
                }
            }, "json");
        }
    });
</script>